@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme inline {
  --color-primary: #9D1942;
  --color-primary-dark: #7A1333;
  --color-primary-light: #B81E4F;
  --color-secondary: #e2a026;
  --color-secondary-dark: #b8831e;
  --color-secondary-light: #f0c05a;
  --color-dark: #2B2422;
  --color-gray-custom: #979493;
  --font-sans: 'Inter', 'Galvji', sans-serif;
}

body {
  font-family: 'Inter', 'Galvji', sans-serif;
  color: var(--color-dark);
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}
